<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.stillhome.launcher" android:versionCode="4" android:versionName="2.0">
    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <queries>
        <intent><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.BROWSABLE" /><data android:scheme="https" /></intent>
        <intent><action android:name="android.intent.action.SENDTO" /><data android:scheme="smsto" /></intent>
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent>
    </queries>
    <application android:label="Still Home" android:icon="@drawable/icon" android:theme="@style/AppTheme"
        android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true">
        <activity android:name=".HomeActivity" android:exported="true" android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" android:enableOnBackInvokedCallback="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.HOME" /><category android:name="android.intent.category.DEFAULT" /></intent-filter>
        </activity>
    </application>
</manifest>
